services:
  web:
    # Available resolution tags:
    # - latest, 1600x960 (default resolution)
    # - 2400x1440
    # - 3200x1920
    # For version-specific tags, use: v1.2.3, v1.2.3-1600x960, v1.2.3-2400x1440, etc.
    image: ghcr.io/chrisromp/hamclock-docker:latest
    ports:
      - "8080:8080/tcp"
      - "8081:8081/tcp"
      # Uncomment below if you want to expose the read-only web interface on port 8082
      #- "8082:8082/tcp" 
    volumes:
      - data:/root/.hamclock
    restart: unless-stopped

volumes:
  data: